@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Media Sans Extended';
  src: url('/fonts/mediasansextended-bold-TRIAL-BF63c7546bb2aa0.woff2') format('woff2'),
       url('/fonts/mediasansextended-bold-TRIAL-BF63c7546bb2aa0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Media Sans Extended';
  src: url('/fonts/mediasansextended-regular-TRIAL-BF63c7546bb2aa0.woff2') format('woff2'),
       url('/fonts/mediasansextended-regular-TRIAL-BF63c7546bb2aa0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  font-family: 'Media Sans Extended', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.noScroll {
  overflow: hidden;
  height: 100vh;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}
