@media (max-width: 768px) {
  .card {
    width: 150px;
    height: 200px;
  }

  .cardText {
    font-size: 18px;
    transform: rotate(0);
  }
}

.mainContent {
  min-height: calc(100vh - [NavbarHeight]);
}

.semesterSection {
  text-align: center;
  margin: 40px; 
  padding-bottom: 40px;
}

.sectionTitle {
  color: rgb(180, 3, 10);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Media Sans', sans-serif;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card {
  background-color: rgb(177, 177, 177);
  background-size: cover;
  background-position: center; 
  width: 300px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); 
}

.cardText {
  transform: rotate(-52deg);
  display: inline-block;
  color: white;
  font-weight: 900;
  font-size: 22px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.cardTextB {
  display: inline-block;
  color: black;
  font-weight: 900;
  font-size: 14px;
}

.cardTextWrapper {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px; 
  border-radius: 5px; 
}

.projectsSection {
  text-align: center;
  margin: 40px 0;
  color: white;
  position: relative;
  padding-bottom: 40px; 
}

.projectsTitle {
  text-align: center;
  color: rgb(180, 3, 10);
  margin: 20px 0;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Media Sans', sans-serif;
}

.projectsLabel {
  position: absolute;
  top: 10px;
  left: 30px;
  color: rgb(180, 3, 10);
  font-weight: bold;
  font-size: 28px;
  font-family: 'Media Sans', sans-serif;
}

.aboutMeSection {
  text-align: left;
  margin: 40px 0;
  background-color: white;
  padding: 0 20px;
}

.aboutMeContent {
  max-width: 800px;
  margin: auto;
}

.aboutMeTitle {
  color: rgb(180, 3, 10);
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
}

.aboutMeText {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.aboutMeLink {
  font-weight: bold;
  color: rgb(180, 3, 10);
  text-decoration: none;
}